<%- include('header'); -%>
<!-- Include the header partial template -->
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>
<!-- Create a div element with the class "box" and an id "heading", which contains an h1 element with the title coming from the passed listTitle variable. -->

<div class="box">
  <% newlistItems.forEach(function(item){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="checkbox"
        value="<%=item._id%>"
        onChange="this.form.submit()"
      />
      <p><%=item.name%></p>
    </div>
    <input type="hidden" name="listName" value="<%=listTitle%>" />
  </form>
  <% }) %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%=listTitle%>">+</button>
  </form>
</div>
<%- include('footer'); -%>
<!-- Finally, the template includes a 'footer' partial template which is being included in the current template. -->
